<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="ProjectRunConfigurationManager">
    <configuration default="false" name="app" type="AndroidRunConfigurationType" factoryName="Android App">
      <module name="app" />
      <option name="DEPLOY" value="true" />
      <option name="DEPLOY_APK_FROM_BUNDLE" value="false" />
      <option name="LAUNCH" value="DEFAULT_ACTIVITY" />
      <option name="SHOW_LOGCAT_AUTOMATICALLY" value="true" />
      <method v="2">
        <option name="Android.Gradle.BeforeRunTask" enabled="true" />
      </method>
    </configuration>
  </component>
</project>

